:root{
  --gold:rgba(234, 182, 118, 0.8)
}

:root{
  --blue:rgb(49, 247, 253)
}

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
*,* :before,* :after{
  box-sizing: border-box;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: var(--gold); 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::-webkit-scrollbar-track{
  background: rgb(46, 42, 42)
}

ul,li{
  list-style-type: none;
}
/* Define a default background image for larger screens */
body {
  background-image: url('~@/assets/bck_image/neuro.png');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(74, 65, 65);
  background-blend-mode: overlay;
}


header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 10px;
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

.blue {
  color:var(--blue);
}

.bluegreen {
  color: rgba(234, 182, 118, 0.8);
}

h2 {
  color: rgba(234, 182, 118, 0.8);
  font-size: 18px;
  margin-top: 10px;
  font-weight: 500;
}

main {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  background-color: rgba(4, 73, 109, 0.1);
  padding: 20px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.uploaded-files {
  margin-top: 20px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.uploaded-files h3 {
  color: rgba(234, 182, 118, 0.8);
  font-size: 18px;
}

.uploaded-files ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.uploaded-files li {
  color: white;
  margin-bottom: 5px;
}

.toggle-sidebar-button {
  margin-bottom: 5px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid rgba(234, 182, 118, 0.8);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-sidebar-button:hover {
  background-color: rgba(234, 182, 118, 0.4);
}

.job-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.job-title-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.job-title-textarea {
  height: 20px;
  width: 500px;
  resize: none;
}

.job-description-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
}

.job-description-textarea {
  height: 150px;
  width: 500px;
  resize: none;
}

label {
  border-radius: 5px 0 0 0;
  padding: 5px 10px;
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
}

textarea,input {
  border: 1px solid rgba(234, 182, 118, 0.5);
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
textarea {
  width: 300px;
  height: 50px;
}

.buttons-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.upload-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-button {
  margin-bottom: 5px;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 2px solid rgba(234, 182, 118, 0.8);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-button svg {
  width: 20px;
  height: 20px;
  fill: white; /* Set the color of the SVG image to white */
}

/* Add the glowing effect for the button when hovering */
.upload-button::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

.upload-button:hover::after {
  opacity: 1;
}

.upload-button:hover::before {
  opacity: 1;
}

.submit-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.submit-button {
  position: relative;
  background-color: rgba(234, 182, 118, 0.2);
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 20px;
  font-weight: bold;
  height: 40px;
  width: 150px;
  transition: background-color 0.3s ease-out;
}
.submit-button--small {
  width: 100px;
  height: 30px;
padding: 5px 10px;
}
.submit-button:hover {
  background-color: rgba(234, 182, 118, 0.4);
}



/* Adjust the glowing effect for the submit button when hovering */
.submit-button:hover::after {
  opacity: 1;
}

.submit-button:disabled:hover::after {
  opacity: 0;
}

.submit-button:disabled {
  cursor: not-allowed;  /* Change the cursor to indicate the button is disabled */
}


/* Adjust the glowing effect for the submit button borders when hovering */
.submit-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 100px;
  padding: 5px;
  display: flex;
  align-items: center;
}


/* Adjust the glowing effect for the submit button container borders when hovering */
.submit-container:hover::before {
  opacity: 1;
}


.upload-info {
  color: rgba(234, 182, 118, 0.8);
  font-size: 14px;
  margin-top: 5px;
}

.file-size-info {
  color: rgba(255,255,255);
  font-size: 13px;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
  margin-left: -210px;
  margin-top: -1px;
}

.pdf-icon.green-icon {
  content: url('~@/assets/pdf-image.svg'); /* Replace with the actual path to your white PDF icon */
  transition: none; /* Remove the transition */
}

.animate-removed {
  animation: colorChange 2s; /* Set animation duration to 2 seconds */
  transition: filter 3s ease-in-out; /* Add a transition for smooth color change */
}

@keyframes colorChange {
  0%{
    filter: hue-rotate(-200deg) invert(100%) sepia(2000%) saturate(1000%) drop-shadow(1px 1px 0 red);/* Original color */
  }
  100% {
    filter: hue-rotate(1000deg); /* Rotate color halfway */
  }

}
.error-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336; /* red */
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 1000; /* make sure it's on top */
}

.loading-message {
  width: 30vw;
  height: 30vh;
  position: fixed;
  top: 5vh;
  left: 65vw;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.hamburger-wrap {
  display: flex;
  align-items: center;
  position:fixed;
  left: 25px;
  top:25px;
}

.hamburger-wrap {
  float: right;
  justify-content: flex-end;
  z-index: 15;
}

.hamburger {
  width: 60px;
  height: 60px;
  background-color: black;
  outline: 0;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 0 3px 2px rgba(234, 182, 118, 0.8);
}

.hamburger:focus {
  outline: none;
}

.hamburger__line,
.hamburger__middle {
  display: block;
  width: 30px;
  height: 4px;
  border-radius: 2px;
  background-color: #fff;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: auto;
  margin-right: auto;
}



.hamburger-title{
  margin-left: 5px;
}



.cbox-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 22px;
  height: 22px
}

.cbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 0;
  height: 22px;
  width: 22px;
  z-index: 99999
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height:22px;
  width:22px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius:4px;
}

.cbox-wrapper:hover input~.checkmark {
  background-color: #1c651c
}

.cbox-wrapper input:checked~.checkmark {
  background-color: #1c651c
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none
}

.cbox-wrapper input:checked~.checkmark:after {
  display: block
}

.cbox-wrapper .checkmark:after {
  left: 7px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}